<% include partials/header %>
        <h1 class="title page-header">Lets Git Going!</h1>
        <div class="center-block">
        <p> <h5 class= 'p'>This tutorial is for people who have a basic understanding of what Git is and want a better understanding of how to use Git in their work-flow. In order to continue with this tutorial you should:</p>
        <ol>
        <li>Download Git</li>
        <li>Have an account on GitHub</li>
        <li>Have downloaded a text editor (Atom/Sublime)</li></h3>
        </ol><h5>
        <p><h1 class="title page-header"> Now, let’s git started!</p></h1>
        </div class'title'>
        <iframe src="https://giphy.com/embed/JIX9t2j0ZTN9S" width="480" height="253" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/JIX9t2j0ZTN9S"></a></p></div>
        
        <div class='links'> Made with ♥ <a href="https://techtonica.org/">@Techtonica</a> by: </div>
        <div class='links'>
        <img src="./images/IMG_5650.png" width="200" height="200"/>
        <img src="./images/IMG_8197.png" width="200" height="200"/>
        <img src="./images/IMG_3098.png" width="200" height="200"/></br>

        <a href="https://twitter.com/mmed1na?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @mmed1na</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

        <a href="https://twitter.com/patersonzaire?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @patersonzaire</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

        <a href="https://twitter.com/VivianSan21?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @VivianSan21</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></div>
<% include partials/footer %>
